@{
    ViewData["Title"] = "Categories";
}

@model List<Product>
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2>Products</h2>
        </div>
        <div class="col-6">
            <a class="float-end p-2 bg-primary rounded-1 text-white text-decoration-none" asp-controller="Products"
                asp-action="Forms">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Create New Products
            </a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                @if (item.Category != null)
                {
                    <td>@item.Category.Name</td>
                }
                <td class="d-flex justify-content-around">
                    <a class="btn btn-primary text-decoration-none form-control mx-2" asp-controller="Products"
                        asp-action="Forms" asp-route-id="@item.Id">
                        <i class="fa-solid fa-pen-to-square mx-1"></i>
                        Edit
                    </a>
                    <a class="btn btn-danger text-decoration-none form-control mx-2" asp-controller="Products"
                        asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fa-solid fa-trash mx-1"></i>
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
